# Java
target/
*.log
*.class

# Maven
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Environment
.env

# Docker
*.tar

# Logs
logs/
backend/weather-service/src/main/resources/application.properties